body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0F0F10;
  color: white;
  text-align: center;
}

header {
  padding: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.hero {
  padding: 100px 20px;
}

.hero h2 {
  font-size: 32px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #C6A75E;
  color: black;
  text-decoration: none;
  border-radius: 8px;
}

.portfolio {
  padding: 60px 20px;
}

.grid {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1a1a1a;
  padding: 40px;
  border-radius: 10px;
}

footer {
  padding: 40px;
  color: gray;
}
